# Setup

In [3]:
import sys
sys.path.append('../../Modules/')
sys.path.append('../../Modules/Processors from Prof')
from Packages import *
from My_CSV_processor import *
from My_Json_processor import *
from Semantic_functions import *
from Wordcloud import *

# Import processors from Prof
from ipynb.fs.full.Utilities import *
from ipynb.fs.full.Json_Processor import *
from ipynb.fs.full.CSV_Processor import *

In [1]:
import os
from groq import Groq

In [2]:
import google.generativeai as genai
os.environ["GEMINI_API_KEY"] = "AIzaSyCM-GWMhMPoBZpvlXWqKr5nKnY02OIVdf4"
genai.configure(api_key=os.environ["GEMINI_API_KEY"])

# Functions

In [4]:
"""
GEMINI

The function is to generate Gemini answers for the given data.

@params: data(initial dataframe), system_message(message for Gemini system)
@return: sample(dataframe with gemini_output column)
"""

def gemini_generator(data, system_message):

    import time
    total_requests = 0
    successful_requests = 0


    model=genai.GenerativeModel(
    model_name="gemini-1.5-flash",
    system_instruction=system_message,
    )

    sample = data.copy()
    sample['gemini_output'] = None

    for i in range(len(sample)):
        success = False
        retries = 3

        while not success and retries > 0:
            try:
                total_requests += 1

                # Make API request
                response = model.generate_content(sample['input'][i])
                # print(response.text)
                sample.loc[i, 'gemini_output'] = response.text.strip()
                success = True
                successful_requests += 1
                time.sleep(5)

            except Exception as e:
                # print(f"Error: {e}")
                retries -= 1
                time.sleep(5)
                total_requests += 1

    print(f"Total requests made: {total_requests}")
    print(f"Successful requests: {successful_requests}")

    return sample

In [5]:
def gemini_line_generator(input_df, input_idx, output_df, message):
    model=genai.GenerativeModel(
        model_name="gemini-1.5-flash",
        system_instruction= message,
    )

    response = model.generate_content(input_df.loc[input_idx, "input"])

    print(response.text)

    output_df.loc[input_idx,"gemini_output"] = response.text.strip()

In [6]:
from groq import Groq
os.environ["GROQ_API_KEY"] = "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"
client = Groq(
    api_key=os.environ['GROQ_API_KEY'],
)

"""
GROQ

The function is to generate GROQ answers for the given data.

@params: data(initial dataframe), system_message(message for Gemini system)
@return: sample(dataframe with gemini_output column)
"""

def groq(data, system_message, model_name):

    import time
    total_requests = 0
    successful_requests = 0
    client = Groq(api_key=os.environ['GROQ_API_KEY'],)

    sample = data.copy()
    sample[model_name] = None


    for i in range(len(sample)):
        success = False
        retries = 3

        while not success and retries > 0:
            try:
                total_requests += 1
                
                # Make a request to the GROQ API
                chat_completion = client.chat.completions.create(
                    messages=[
                        {
                            "role":"user",
                            "content": sample.loc[i, 'input']
                        },
                        {
                            'role': 'system',
                            'content': system_message
                        }
                    ],
                    model = model_name
                )

                response = chat_completion.choices[0].message.content

                sample.loc[i, model_name] = response.strip()
                success = True
                successful_requests += 1
                # print(response)
                time.sleep(5)

            except Exception as e:
                # print(f"Error: {e}")
                retries -= 1
                time.sleep(5)
                total_requests += 1

    print(f"Total requests made: {total_requests}")
    print(f"Successful requests: {successful_requests}")

    return sample


"""
GROQ

The function is to generate GROQ answers for the given data ROWS.

"""

def groq_line_generate(raw_dataset, output_dataset, start_idx, end_idx, system_message, model_name):
    sample = raw_dataset.loc[start_idx:end_idx, ].copy()
    sample.reset_index(drop=True, inplace=True)
    groq_sample = groq(sample, system_message, model_name)
    output_dataset.loc[start_idx:end_idx, "llama_output"] = groq_sample[model_name].values
    return output_dataset

# abstrac_algebra

## Get Dataset

In [5]:
abstract_algebra = MMLU_CSV_Processor_my('MMLU','abstract_algebra_test.csv').convert_df()

In [6]:
abstract_algebra.head()

,input,target
0,"Find the degree for the given field extension Q(sqrt(2), sqrt(3), sqrt(18)) over Q. \n0 \n4 \n2 \n6",B
1,"Let p = (1, 2, 5, 4)(2, 3) in S_5 . Find the index of <p> in S_5. \n8 \n2 \n24 \n120",C
2,"Find all zeros in the indicated finite field of the given polynomial with coefficients in that field. x^5 + 3x^3 + x^2 + 2x in Z_5 \n0 \n1 \n0,1 \n0,4",D
3,"Statement 1 | A factor group of a non-Abelian group is non-Abelian. Statement 2 | If K is a normal subgroup of H and H is a normal subgroup of G, then K is a normal subgroup of G. \nTrue, True \nFalse, False \nTrue, False \nFalse, True",B
4,"Find the product of the given polynomials in the given polynomial ring. f(x) = 4x - 5, g(x) = 2x^2 - 4x + 2 in Z_8[x]. \n2x^2 + 5 \n6x^2 + 4x + 6 \n0 \nx^2 + 1",B

In [7]:
abstract_algebra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [ ]:
gemini_abstract_algebra = abstract_algebra.copy()
gemini_abstract_algebra['gemini_output'] = None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          100 non-null    object
 1   target         100 non-null    object
 2   gemini_output  0 non-null      object
dtypes: object(3)
memory usage: 2.5+ KB

In [35]:
gemini_abstract_algebra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          100 non-null    object
 1   target         100 non-null    object
 2   gemini_output  100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [ ]:
gemini_line_generator(abstract_algebra, 90, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 91, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 92, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 93, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 94, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 95, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 96, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 97, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 98, gemini_abstract_algebra, message='Provide answers only')
gemini_line_generator(abstract_algebra, 99, gemini_abstract_algebra, message='Provide answers only')

In [28]:
gemini_abstract_algebra[gemini_abstract_algebra['gemini_output'].isnull()]

,input,target,gemini_output
70,"(Z,*) is a group with a*b = a+b+1 for all a, b in Z. The inverse of a is \n0 \n-2 \na-2 \n(2+a)*-1",D,None
71,Find the degree for the given field extension Q(sqrt(2)*sqrt(3)) over Q. \n0 \n4 \n2 \n6,C,None
72,"Using Fermat's theorem, find the remainder of 3^47 when it is divided by 23. \n1 \n2 \n3 \n4",D,None
73,Find the characteristic of the ring Z_3 x Z_3. \n0 \n3 \n12 \n30,B,None
74,"Statement 1 | If a and b are elements of a group and a is not equal to b, then a^2 is not equal to b^2. Statement 2 | The set of rotations in a dihedral group form a cyclic subgroup. \nTrue, True \nFalse, False \nTrue, False \nFalse, True",D,None
...,...,...,...
95,"Statement 1 | If H is a subgroup of G and a belongs to G then aH is a subgroup of G if and only if a is in H. Statement 2 | If H is a subgroup of G and a and b belong to G then aH = bH if and only if ab is in H. \nTrue, True \nFalse, False \nTrue, False \nFalse, True",C,None
96,"Find all zeros in the indicated finite field of the given polynomial with coefficients in that field. x^2 + 1 in Z_2 \n0 \n1 \n0,1 \n2",B,None
97,Find the number of elements in the indicated cyclic group: The cyclic subgroup of Z_30 generated by 25. \n25 \n5 \n6 \n30,C,None
98,"The element (4, 2) of Z_12 x Z_8 has order \n4 \n8 \n12 \n6",C,None
99,"Statement 1 | Every ideal in a ring is a subring of the ring. Statement 2 | Every subring of every ring is an ideal of the ring. \nTrue, True \nFalse, False \nTrue, False \nFalse, True",C,None

In [36]:
gemini_abstract_algebra.to_csv('gemini_abstract_algebra.csv', index=False)

# anatomy_test

## Get Dataset

In [37]:
anatomy_test = MMLU_CSV_Processor_my('MMLU','anatomy_test.csv').convert_df()

In [38]:
anatomy_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   135 non-null    object
 1   target  135 non-null    object
dtypes: object(2)
memory usage: 2.2+ KB

In [42]:
anatomy_test.loc[0, 'input']

'A lesion causing compression of the facial nerve at the stylomastoid foramen will cause ipsilateral \nparalysis of the facial muscles. \nparalysis of the facial muscles and loss of taste. \nparalysis of the facial muscles, loss of taste and lacrimation. \nparalysis of the facial muscles, loss of taste, lacrimation and decreased salivation.'

## GEMINI

In [43]:
gemini_anatomy = anatomy_test.copy()
gemini_anatomy['gemini_output'] = None

In [94]:
gemini_anatomy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          135 non-null    object
 1   target         135 non-null    object
 2   gemini_output  135 non-null    object
dtypes: object(3)
memory usage: 3.3+ KB

In [93]:
gemini_anatomy[gemini_anatomy['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(anatomy_test, 130, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(anatomy_test, 131, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(anatomy_test, 132, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(anatomy_test, 133, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(anatomy_test, 134, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(anatomy_test, 135, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(anatomy_test, 136, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(anatomy_test, 137, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(anatomy_test, 138, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(anatomy_test, 139, gemini_anatomy, message='Treat each options as A, B, C, D, etc. and provide answers only')

KeyError: 135

In [95]:
gemini_anatomy.to_csv('gemini_anatomy.csv', index=False)

# astronomy_test

## Get Dataset

In [96]:
astronomy_test = MMLU_CSV_Processor_my('MMLU','astronomy_test.csv').convert_df()
astronomy_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   152 non-null    object
 1   target  152 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [97]:
astronomy_test.head()

,input,target
0,"What is true for a type-Ia (""type one-a"") supernova? \nThis type occurs in binary systems. \nThis type occurs in young galaxies. \nThis type produces gamma-ray bursts. \nThis type produces high amounts of X-rays.",A
1,If you know both the actual brightness of an object and its apparent brightness from your location then with no other information you can estimate: \nIts speed relative to you \nIts composition \nIts size \nIts distance from you,D
2,Why is the sky blue? \nBecause the molecules that compose the Earth's atmosphere have a blue-ish color. \nBecause the sky reflects the color of the Earth's oceans. \nBecause the atmosphere preferentially scatters short wavelengths. \nBecause the Earth's atmosphere preferentially absorbs all other colors.,C
3,You’ve made a scientific theory that there is an attractive force between all objects. When will your theory be proven to be correct? \nThe first time you drop a bowling ball and it falls to the ground proving your hypothesis. \nAfter you’ve repeated your experiment many times. \nYou can never prove your theory to be correct only “yet to be proven wrong”. \nWhen you and many others have tested the hypothesis.,C
4,Which of the following is/are true? \nTitan is the only outer solar system moon with a thick atmosphere \nTitan is the only outer solar system moon with evidence for recent geologic activity \nTitan's atmosphere is composed mostly of hydrocarbons \nA and D,D

## GEMINI

In [98]:
gemini_astronomy = astronomy_test.copy()
gemini_astronomy['gemini_output'] = None

In [145]:
gemini_astronomy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          152 non-null    object
 1   target         152 non-null    object
 2   gemini_output  152 non-null    object
dtypes: object(3)
memory usage: 3.7+ KB

In [144]:
gemini_astronomy[gemini_astronomy['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(astronomy_test, 140, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 141, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 142, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 143, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 144, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 145, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 146, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 147, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 148, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 149, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(astronomy_test, 150, gemini_astronomy, message='Treat each options as A, B, C, D, etc. and provide answers only')

B

In [146]:
gemini_astronomy.to_csv('gemini_astronomy.csv', index=False)

# business_ethics_test

## Get Dataset

In [147]:
business_ethics_test = MMLU_CSV_Processor_my('MMLU','business_ethics_test.csv').convert_df()
business_ethics_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [148]:
gemini_business_ethics_test = business_ethics_test.copy()
gemini_business_ethics_test['gemini_output'] = None

In [149]:
gemini_business_ethics_test.head()

,input,target,gemini_output
0,"_______ such as bitcoin are becoming increasingly mainstream and have a whole host of associated ethical implications, for example, they are______ and more ______. However, they have also been used to engage in _______. \nCryptocurrencies, Expensive, Secure, Financial Crime \nTraditional currency, Cheap, Unsecure, Charitable giving \nCryptocurrencies, Cheap, Secure, Financial crime \nTraditional currency, Expensive, Unsecure, Charitable giving",C,None
1,"Typical advertising regulatory bodies suggest, for example that adverts must not: encourage _________, cause unnecessary ________ or _____, and must not cause _______ offence. \nUnsafe practices, Wants, Fear, Trivial \nUnsafe practices, Distress, Fear, Serious \nSafe practices, Wants, Jealousy, Trivial \nSafe practices, Distress, Jealousy, Serious",B,None
2,"______ are the obligations of workers towards their employer, based on individual contracts and wider employment laws. \nEmployee rights \nEmployee rights \nEmployer duties \nEmployee duties",D,None
3,"______ is an employee's preferred ratio between work-related and non-work-related activities which, due to intensification of work and technological shifts, has become a hotly contested issue in recent years. \nPresenteeism \nAbsenteeism \nWork-play balance \nWork-life balance",D,None
4,"_______ can be a likened to their natural counterparts, comprising of a balanced network of interdependent organisms and their environments thus adding value to sustainability thinking due to the consideration of companies and industries as being bound together, and interdependent due to all kinds of resources and wastes. \nIndustrial supply loops \nIndustrial ecosystems \nEcological ecosystems \nCorporate ecosystems",B,None

In [182]:
gemini_business_ethics_test[gemini_business_ethics_test['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [181]:
gemini_line_generator(business_ethics_test, 90, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 91, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 92, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 93, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 94, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 95, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 96, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 97, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 98, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(business_ethics_test, 99, gemini_business_ethics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

B

1,2,3

C

D

A. 1,2,3
B. 1,2,4
C. 1,3,4
D. 2,3,4

C

C

A

D

B

In [183]:
gemini_business_ethics_test.to_csv('gemini_business_ethics_test.csv', index=False)

# Clinical_knowledge_test

## Get Dataset

In [8]:
clinical_knowledge_test = MMLU_CSV_Processor_my('MMLU','clinical_knowledge_test.csv').convert_df()
clinical_knowledge_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   265 non-null    object
 1   target  265 non-null    object
dtypes: object(2)
memory usage: 4.3+ KB

## GEMINI

In [9]:
gemini_clinical_knowledge = clinical_knowledge_test.copy()
gemini_clinical_knowledge['gemini_output'] = None

In [10]:
gemini_clinical_knowledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          265 non-null    object
 1   target         265 non-null    object
 2   gemini_output  0 non-null      object
dtypes: object(3)
memory usage: 6.3+ KB

In [62]:
gemini_clinical_knowledge[gemini_clinical_knowledge['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(clinical_knowledge_test, 260, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 261, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 262, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 263, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 264, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 265, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 266, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 267, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 268, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(clinical_knowledge_test, 269, gemini_clinical_knowledge, message='Treat each options as A, B, C, D, etc. and provide answers only')

In [63]:
gemini_clinical_knowledge.to_csv('gemini_clinical_knowledge.csv', index=False)

# college_biology

## Get Dataset

In [64]:
college_biology = MMLU_CSV_Processor_my('MMLU','college_biology_test.csv').convert_df()
college_biology.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   144 non-null    object
 1   target  144 non-null    object
dtypes: object(2)
memory usage: 2.4+ KB

## GEMINI

In [65]:
gemini_college_biology = college_biology.copy()
gemini_college_biology['gemini_output'] = None

In [95]:
gemini_college_biology[gemini_college_biology['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(college_biology, 140, gemini_college_biology, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_biology, 141, gemini_college_biology, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_biology, 142, gemini_college_biology, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_biology, 143, gemini_college_biology, message='Treat each options as A, B, C, D, etc. and provide answers only')

In [96]:
gemini_college_biology.to_csv('gemini_college_biology.csv', index=False)

# college_chemistry

## Get Dataset

In [97]:
college_chemistry = MMLU_CSV_Processor_my('MMLU','college_chemistry_test.csv').convert_df()
college_chemistry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [98]:
gemini_college_chemistry = college_chemistry.copy()
gemini_college_chemistry['gemini_output'] = None

In [100]:
gemini_college_chemistry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          100 non-null    object
 1   target         100 non-null    object
 2   gemini_output  0 non-null      object
dtypes: object(3)
memory usage: 2.5+ KB

In [125]:
gemini_college_chemistry[gemini_college_chemistry['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [124]:
gemini_line_generator(college_chemistry, 90, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 91, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 92, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 93, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 94, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 95, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 96, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 97, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 98, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_chemistry, 99, gemini_college_chemistry, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

D

A

A

D

D

C

B

B

D

In [126]:
gemini_college_chemistry.to_csv('gemini_college_chemistry.csv', index=False)

# college_computer

## Get Dataset

In [127]:
college_computer = MMLU_CSV_Processor_my('MMLU','college_computer_science_test.csv').convert_df()
college_computer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [128]:
gemini_college_computer = college_computer.copy()
gemini_college_computer['gemini_output'] = None

In [129]:
gemini_college_computer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          100 non-null    object
 1   target         100 non-null    object
 2   gemini_output  0 non-null      object
dtypes: object(3)
memory usage: 2.5+ KB

In [153]:
gemini_college_computer[gemini_college_computer['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [152]:
gemini_line_generator(college_computer, 90, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 91, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 92, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 93, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 94, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 95, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 96, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 97, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 98, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_computer, 99, gemini_college_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

92/5

B

C

I and III only

A

A

I and III

A

C

In [154]:
gemini_college_computer.to_csv('gemini_college_computer.csv', index=False)

# college_mathematics

## Get Dataset

In [155]:
college_mathematics = MMLU_CSV_Processor_my('MMLU','college_mathematics_test.csv').convert_df()
college_mathematics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [156]:
gemini_college_mathematics = college_mathematics.copy()
gemini_college_mathematics['gemini_output'] = None

In [184]:
gemini_college_mathematics[gemini_college_mathematics['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(college_mathematics, 80, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 81, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 82, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 83, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 84, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 85, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 86, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 87, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 88, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_mathematics, 89, gemini_college_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

A

A

A

C

A

In [185]:
gemini_college_mathematics.to_csv('gemini_college_mathematics.csv', index=False)

# college_medicine

## Get Dataset

In [180]:
college_medicine = MMLU_CSV_Processor_my('MMLU','college_medicine_test.csv').convert_df()
college_medicine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   173 non-null    object
 1   target  173 non-null    object
dtypes: object(2)
memory usage: 2.8+ KB

## GEMINI

In [181]:
gemini_college_medicine = college_medicine.copy()
gemini_college_medicine['gemini_output'] = None

In [253]:
gemini_line_generator(college_medicine, 170, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_medicine, 171, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_medicine, 172, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(college_medicine, 163, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(college_medicine, 164, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(college_medicine, 165, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(college_medicine, 166, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(college_medicine, 167, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(college_medicine, 168, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(college_medicine, 169, gemini_college_medicine, message='Treat each options as A, B, C, D, etc. and provide answers only')

D

C

A, B, D

In [254]:
gemini_college_medicine[gemini_college_medicine['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [255]:
gemini_college_medicine.to_csv('gemini_college_medicine.csv', index=False)

# college_physics

## Get Dataset

In [256]:
college_physics = MMLU_CSV_Processor_my('MMLU','college_physics_test.csv').convert_df()
college_physics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   102 non-null    object
 1   target  102 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [257]:
gemini_college_physisc = college_physics.copy()
gemini_college_physisc['gemini_output'] = None

In [279]:
gemini_college_physisc[gemini_college_physisc['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [278]:
gemini_line_generator(college_physics, 90, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 91, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 92, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 93, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 94, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 95, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 96, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 97, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 98, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 99, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 100, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(college_physics, 101, gemini_college_physisc, message='Treat each options as A, B, C, D, etc. and provide answers only')

2/3

C

A

C

A

D

C

A

A

A

C

D

In [280]:
gemini_college_physisc.to_csv('gemini_college_physics.csv', index=False)

# computer_security

## Get Dataset

In [8]:
computer_security = MMLU_CSV_Processor_my('MMLU','computer_security_test.csv').convert_df()
computer_security.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [9]:
gemini_computer_security = computer_security.copy()
gemini_computer_security['gemini_output'] = None

In [10]:
gemini_computer_security.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          100 non-null    object
 1   target         100 non-null    object
 2   gemini_output  0 non-null      object
dtypes: object(3)
memory usage: 2.5+ KB

In [25]:
gemini_computer_security[gemini_computer_security['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [24]:
gemini_line_generator(computer_security, 90, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 91, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 92, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 93, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 94, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 95, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 96, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 97, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 98, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(computer_security, 99, gemini_computer_security, message='Treat each options as A, B, C, D, etc. and provide answers only')

Receiver site

B

A

C

A

A

A

C

C

Correctness

In [26]:
gemini_computer_security.to_csv('gemini_computer_security.csv', index=False)

# conceptual_physics

## Get Dataset

In [17]:
conceptual_physics = MMLU_CSV_Processor_my('MMLU','conceptual_physics_test.csv').convert_df()
conceptual_physics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   235 non-null    object
 1   target  235 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB

## GEMINI

In [18]:
gemini_conceptual_physics = conceptual_physics.copy()
gemini_conceptual_physics['gemini_output'] = None

In [67]:
gemini_conceptual_physics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          235 non-null    object
 1   target         235 non-null    object
 2   gemini_output  235 non-null    object
dtypes: object(3)
memory usage: 5.6+ KB

In [ ]:
gemini_line_generator(conceptual_physics, 230, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(conceptual_physics, 231, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(conceptual_physics, 232, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(conceptual_physics, 233, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(conceptual_physics, 234, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(conceptual_physics, 235, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(conceptual_physics, 236, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(conceptual_physics, 237, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(conceptual_physics, 238, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(conceptual_physics, 239, gemini_conceptual_physics, message='Treat each options as A, B, C, D, etc. and provide answers only')

In [68]:
gemini_conceptual_physics[gemini_conceptual_physics['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [70]:
gemini_conceptual_physics.to_csv('gemini_college_medicine.csv', index=False)

# econometrics_test

## Get Dataset

In [71]:
econometrics_test = MMLU_CSV_Processor_my('MMLU','econometrics_test.csv').convert_df()
econometrics_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   114 non-null    object
 1   target  114 non-null    object
dtypes: object(2)
memory usage: 1.9+ KB

## GEMINI

In [73]:
gemini_econometrics_test = econometrics_test.copy()
gemini_econometrics_test['gemini_output'] = None

In [95]:
gemini_econometrics_test[gemini_econometrics_test['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [94]:
gemini_line_generator(econometrics_test, 110, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(econometrics_test, 111, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(econometrics_test, 112, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(econometrics_test, 113, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(econometrics_test, 114, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(econometrics_test, 115, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(econometrics_test, 116, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(econometrics_test, 117, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(econometrics_test, 118, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(econometrics_test, 119, gemini_econometrics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

(i), (ii), and (iii)

B

(iii) only

In [96]:
gemini_econometrics_test.to_csv('gemini_econometrics_test.csv', index=False)

# electrical_engineering

## Get Dataset

In [107]:
electrical_engineering = MMLU_CSV_Processor_my('MMLU','electrical_engineering_test.csv').convert_df()
electrical_engineering.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   145 non-null    object
 1   target  145 non-null    object
dtypes: object(2)
memory usage: 2.4+ KB

## GEMINI

In [108]:
gemini_electrical_engineering = electrical_engineering.copy()
gemini_electrical_engineering['gemini_output'] = None

In [138]:
gemini_electrical_engineering.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          145 non-null    object
 1   target         145 non-null    object
 2   gemini_output  145 non-null    object
dtypes: object(3)
memory usage: 3.5+ KB

In [ ]:
gemini_line_generator(electrical_engineering, 140, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 141, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 142, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 143, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 144, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 135, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 136, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 137, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 138, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(electrical_engineering, 139, gemini_electrical_engineering, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

A. 1/3

B

C

A

A

A, D

In [139]:
gemini_electrical_engineering.to_csv('gemini_electrical_engineering.csv', index=False)

# elementary_mathematics

## Get Dataset

In [140]:
elementary_mathematics = MMLU_CSV_Processor_my('MMLU','elementary_mathematics_test.csv').convert_df()

## GEMINI

In [ ]:
# gemini_elementary_mathematics = elementary_mathematics.copy()
# gemini_elementary_mathematics['gemini_output'] = None

In [193]:
gemini_elementary_mathematics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          378 non-null    object
 1   target         378 non-null    object
 2   gemini_output  30 non-null     object
dtypes: object(3)
memory usage: 9.0+ KB

In [272]:
gemini_elementary_mathematics[gemini_elementary_mathematics['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [273]:
gemini_elementary_mathematics.to_csv('gemini_elementary_mathematics.csv', index=False)

In [271]:
# gemini_line_generator(elementary_mathematics, 370, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 371, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 372, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 373, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 374, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 375, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 376, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(elementary_mathematics, 377, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 378, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(elementary_mathematics, 379, gemini_elementary_mathematics, message='Treat each options as A, B, C, D, etc. and provide answers only')

B

# formal_logic

## Get Dataset

In [8]:
formal_logic = MMLU_CSV_Processor_my('MMLU','formal_logic_test.csv').convert_df()
formal_logic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   126 non-null    object
 1   target  126 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

## GEMINI

In [9]:
gemini_formal_logic = formal_logic.copy()
gemini_formal_logic['gemini_output'] = None

In [24]:
gemini_formal_logic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          126 non-null    object
 1   target         126 non-null    object
 2   gemini_output  100 non-null    object
dtypes: object(3)
memory usage: 3.1+ KB

In [ ]:
gemini_line_generator(formal_logic, 120, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(formal_logic, 121, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(formal_logic, 122, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(formal_logic, 123, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(formal_logic, 124, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(formal_logic, 125, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(formal_logic, 126, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(formal_logic, 117, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(formal_logic, 118, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(formal_logic, 119, gemini_formal_logic, message='Treat each options as A, B, C, D, etc. and provide answers only')

In [34]:
gemini_formal_logic.to_csv('gemini_formal_logic.csv', index=False)

# global_facts

## Get Dataset

In [36]:
global_facts = MMLU_CSV_Processor_my('MMLU','global_facts_test.csv').convert_df()
global_facts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [37]:
gemini_global_facts = global_facts.copy()
gemini_global_facts['gemini_output'] = None

In [57]:
gemini_global_facts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          100 non-null    object
 1   target         100 non-null    object
 2   gemini_output  90 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

In [62]:
gemini_global_facts[gemini_global_facts['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [61]:
# gemini_line_generator(global_facts, 30, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(global_facts, 31, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(global_facts, 32, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(global_facts, 33, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(global_facts, 34, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(global_facts, 35, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(global_facts, 36, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(global_facts, 37, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(global_facts, 38, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(global_facts, 39, gemini_global_facts, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

A

C

A

In [63]:
gemini_global_facts.to_csv('gemini_global_facts.csv', index=False)

# high_school_bio

## Get Dataset

In [64]:
high_school_bio = MMLU_CSV_Processor_my('MMLU','high_school_biology_test.csv').convert_df()
high_school_bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   310 non-null    object
 1   target  310 non-null    object
dtypes: object(2)
memory usage: 5.0+ KB

## GEMINI

In [65]:
gemini_high_school_bio = high_school_bio.copy()
gemini_high_school_bio['gemini_output'] = None

In [148]:
gemini_high_school_bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          310 non-null    object
 1   target         310 non-null    object
 2   gemini_output  310 non-null    object
dtypes: object(3)
memory usage: 7.4+ KB

In [147]:
gemini_line_generator(high_school_bio, 300, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 301, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 302, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 303, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 304, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 305, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 306, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 307, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 308, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_bio, 309, gemini_high_school_bio, message='Treat each options as A, B, C, D, etc. and provide answers only')

B

D

A

B

B

C

B

D

B

B

In [149]:
gemini_high_school_bio.to_csv('gemini_high_school_bio.csv', index=False)

# high_school_chem

## Get Dataset

In [150]:
high_school_chem = MMLU_CSV_Processor_my('MMLU','high_school_chemistry_test.csv').convert_df()
high_school_chem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   203 non-null    object
 1   target  203 non-null    object
dtypes: object(2)
memory usage: 3.3+ KB

## GEMINI

In [151]:
gemini_high_school_chem = high_school_chem.copy()
gemini_high_school_chem['gemini_output'] = None

In [187]:
gemini_high_school_chem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          203 non-null    object
 1   target         203 non-null    object
 2   gemini_output  170 non-null    object
dtypes: object(3)
memory usage: 4.9+ KB

In [196]:
gemini_high_school_chem[gemini_high_school_chem['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(high_school_chem, 140, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 141, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 142, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 143, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 144, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 145, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 146, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 147, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 148, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_chem, 149, gemini_high_school_chem, message='Treat each options as A, B, C, D, etc. and provide answers only')

B

C

C

B

In [197]:
gemini_high_school_chem[gemini_high_school_chem['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

# high_school_computer

## Get Dataset

In [198]:
high_school_computer = MMLU_CSV_Processor_my('MMLU','high_school_computer_science_test.csv').convert_df()
high_school_computer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   100 non-null    object
 1   target  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

## GEMINI

In [200]:
gemini_high_school_computer = high_school_computer.copy()
gemini_high_school_computer['gemini_output'] = None

In [227]:
gemini_high_school_computer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          100 non-null    object
 1   target         100 non-null    object
 2   gemini_output  100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [226]:
gemini_high_school_computer[gemini_high_school_computer['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [225]:
gemini_line_generator(high_school_computer, 90, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 91, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 92, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 93, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 94, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 95, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 96, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 97, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 98, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_computer, 99, gemini_high_school_computer, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

C

C

D

A

C

B

C

D

C

In [228]:
gemini_high_school_computer.to_csv('gemini_high_school_computer.csv', index=False)

# high_school_european

## Get Dataset

In [229]:
high_school_european = MMLU_CSV_Processor_my('MMLU','high_school_european_history_test.csv').convert_df()

## GEMINI

In [230]:
gemini_high_school_european = high_school_european.copy()
gemini_high_school_european['gemini_output'] = None

In [271]:
gemini_high_school_european.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          165 non-null    object
 1   target         165 non-null    object
 2   gemini_output  165 non-null    object
dtypes: object(3)
memory usage: 4.0+ KB

In [270]:
gemini_high_school_european[gemini_high_school_european['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [268]:
gemini_line_generator(high_school_european, 160, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_european, 161, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_european, 162, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_european, 163, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_european, 164, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_european, 165, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_european, 166, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_european, 167, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_european, 168, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_european, 169, gemini_high_school_european, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

A

C

C

Klemens Von Metternich

In [272]:
gemini_high_school_european.to_csv('gemini_high_school_european.csv', index=False)

# high_school_geography

## Get Dataset

In [7]:
high_school_geography = MMLU_CSV_Processor_my('MMLU','high_school_geography_test.csv').convert_df()
high_school_geography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   198 non-null    object
 1   target  198 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

## GEMINI

In [275]:
gemini_high_school_geography = high_school_geography.copy()
gemini_high_school_geography['gemini_output'] = None

In [8]:
gemini_high_school_geography = pd.read_csv('gemini_high_school_geography_not_done.csv')

In [33]:
gemini_high_school_geography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   input          198 non-null    object
 1   target         198 non-null    object
 2   gemini_output  150 non-null    object
dtypes: object(3)
memory usage: 4.8+ KB

In [47]:
gemini_high_school_geography[gemini_high_school_geography['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [46]:
# gemini_line_generator(high_school_geography, 190, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_geography, 191, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_geography, 192, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_geography, 193, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_geography, 194, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_geography, 195, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_geography, 196, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_geography, 197, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_geography, 198, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_geography, 199, gemini_high_school_geography, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

B

In [48]:
gemini_high_school_geography.to_csv('gemini_high_school_geography.csv', index=False)

# high_school_government

## Get Dataset

In [50]:
high_school_government = MMLU_CSV_Processor_my('MMLU','high_school_government_and_politics_test.csv').convert_df()
high_school_government.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   193 non-null    object
 1   target  193 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

## GEMINI

In [51]:
gemini_high_school_government = high_school_government.copy()
gemini_high_school_government['gemini_output'] = None

In [91]:
gemini_high_school_government[gemini_high_school_government['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [90]:
gemini_line_generator(high_school_government, 190, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_government, 191, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_government, 192, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_government, 193, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_government, 194, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_government, 195, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_government, 196, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_government, 197, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_government, 198, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_government, 199, gemini_high_school_government, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

B

B

In [92]:
gemini_high_school_government.to_csv('gemini_high_school_government.csv', index=False)

# high_school_macro

## Get Dataset

In [7]:
high_school_macro = MMLU_CSV_Processor_my('MMLU','high_school_macroeconomics_test.csv').convert_df()
high_school_macro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   390 non-null    object
 1   target  390 non-null    object
dtypes: object(2)
memory usage: 6.2+ KB

## GEMINI

In [8]:
gemini_high_school_macro = high_school_macro.copy()
gemini_high_school_macro['gemini_output'] = None

In [114]:
gemini_high_school_macro[gemini_high_school_macro['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(high_school_macro, 380, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 381, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 382, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 383, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 384, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 385, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 386, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 387, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 388, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_macro, 389, gemini_high_school_macro, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

A

In [115]:
gemini_high_school_macro.to_csv('gemini_high_school_macro.csv', index=False)

# high_school_math

## Get Dataset

In [7]:
high_school_math = MMLU_CSV_Processor_my('MMLU','high_school_mathematics_test.csv').convert_df()
high_school_math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   270 non-null    object
 1   target  270 non-null    object
dtypes: object(2)
memory usage: 4.3+ KB

## GEMINI

In [8]:
# gemini_high_school_math = high_school_math.copy()
# gemini_high_school_math['gemini_output'] = None
gemini_high_school_math = pd.read_csv('gemini_high_school_math_not_done.csv')

In [53]:
gemini_high_school_math[gemini_high_school_math['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [54]:
gemini_high_school_math.to_csv('gemini_high_school_math.csv', index=False)

In [ ]:
gemini_line_generator(high_school_math, 260, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 261, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 262, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 263, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 264, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 265, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 266, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 267, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 268, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_math, 269, gemini_high_school_math, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

B

C

A

# high_school_micro

## Get Dataset

In [55]:
high_school_micro = MMLU_CSV_Processor_my('MMLU','high_school_microeconomics_test.csv').convert_df()

## GEMINI

In [ ]:
# gemini_high_school_micro = high_school_micro.copy()
# gemini_high_school_micro['gemini_output'] = None
gemini_high_school_micro = pd.read_csv('gemini_high_school_micro_not_done.csv')

In [125]:
gemini_high_school_micro.to_csv('gemini_high_school_micro.csv', index=False)

In [124]:
gemini_high_school_micro[gemini_high_school_micro['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(high_school_micro, 230, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 231, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 232, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 233, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 234, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 235, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 236, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 237, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 228, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_micro, 229, gemini_high_school_micro, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

B

# high_school_physics_test

## Get Dataset

In [149]:
high_school_physics_test = MMLU_CSV_Processor_my('MMLU','high_school_physics_test.csv').convert_df()

## GEMINI

In [127]:
gemini_high_school_physics_test = high_school_physics_test.copy()
gemini_high_school_physics_test['gemini_output'] = None

In [147]:
gemini_high_school_physics_test[gemini_high_school_physics_test['gemini_output'].isnull()]

,input,target,gemini_output
90,"A cylinder with a movable piston contains a gas at pressure P = 1 × 10^5 Pa, volume V = 20 cm^3, and temperature T = 273 K. The piston is moved downward in a slow steady fashion allowing heat to escape the gas and the temperature to remain constant. If the final volume of the gas is 5 cm^3, what will be the resulting pressure? \n0.25 × 10^5 Pa \n2 × 10^5 Pa \n4 × 10^5 Pa \n8 × 10^5 Pa",C,None
91,Which of the following types of electromagnetic radiation has the longest wavelength? \nGamma rays \nUltraviolet \nBlue light \nOrange light,D,None
92,"An electric motor has a label on it that reads: Input: 120V AC, 1.0 Amps, 60 Hz - Efficiency - 75%. At what constant speed can the motor lift up a 6 kg mass? \n0.5 m/s \n1.0 m/s \n1.5 m/s \n2.0 m/s",C,None
93,"A convex lens of focal length f = 0.2 m is used to examine a small coin lying on a table. During the examination, the lens is held a distance 0.3 m above the coin and is moved slowly to a distance of 0.1 m above the coin. During this process, what happens to the image of the coin? \nThe image continually increases in size. \nThe image continually decreases in size. \nThe image gets smaller at first and then bigger in size. \nThe image flips over.",D,None
94,"The Space Shuttle orbits 300 km above Earth’s surface; Earth’s radius is 6,400 km. What is the gravitational acceleration experienced by the Space Shuttle? \nZero \n4.9 m/s^2 \n9.8 m/s^2 \n8.9 m/s^2",D,None
...,...,...,...
146,"A rock drops onto a pond with a smooth surface. A few moments later, the wave produced by the rock’s impact arrives at the shore, touching the ankles of a wading child. Which of the following observations provides evidence that the portion of the wave hitting the child’s ankles carries less energy than the wave did when it was first created by the rock’s impact? \nThe wave is moving more slowly. \nThe wave pulse’s width has become greater. \nThe wave pulse’s width has become smaller. \nThe wave’s height has become smaller.",D,None
147,Physics students are checking the constant acceleration equations of kinematics by measuring the velocity of a tennis ball that is dropped and falls 6 meters and then passes through a photogate. The predicted velocity is 20% above the velocity measured by the photogate. Which of the following best describes the cause of the large percent difference? \nThe ball changes its shape while falling. \nThe acceleration of gravity varies as the ball is falling. \nAir resistance increases the acceleration of the ball. \nThe acceleration of the balls varies with the velocity.,D,None
148,"Mercury orbits the sun in about one-fifth of an Earth year. If 1 AU is defined as the distance from the Earth to the sun, what is the approximate distance between Mercury and the sun? \n(1/25) AU \n(1/9) AU \n(1/5) AU \n(1/3) AU",D,None
149,"The Gravitron is a carnival ride that looks like a large cylinder. People stand inside the cylinder against the wall as it begins to spin. Eventually, it is rotating fast enough that the floor can be removed without anyone falling. Given then the coefficient of friction between a person’s clothing and the wall is μ, the tangential speed is v, and the radius of the ride is R, what is greatest mass that a person can be to safely go on this ride? \nμv^2/(rg) \nr^2v^2/(μg) \nrg/(μv^2) \nNone of the above.",D,None
150,"An artificial satellite orbits Earth just above the atmosphere in a circle with constant speed. A small meteor collides with the satellite at point P in its orbit, increasing its speed by 1%, but not changing the instantaneous direction of the satellite’s velocity. Which of the following describes the satellite’s new orbit? \nThe satellite now orbits in an ellipse, with P as the farthest approach to Earth. \nThe satellite now orbits in an ellipse, with P as the closest approach to Earth. \nThe satellite now orbits in a circle of larger radius. \nThe satellite now orbits in a circle of smaller radius.",B,None

In [148]:
gemini_line_generator(high_school_physics_test, 90, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 91, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 92, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 93, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 94, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 95, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 96, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 97, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 98, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_physics_test, 99, gemini_high_school_physics_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

A

A

C

D

A

D

A

B

A

In [149]:
gemini_high_school_physics_test.to_csv('gemini_high_school_physics_test_not_done.csv', index=False)

# high_school_psycho

## Get Dataset

In [7]:
high_school_psycho = MMLU_CSV_Processor_my('MMLU','high_school_psychology_test.csv').convert_df()

## GEMINI

In [8]:
gemini_high_school_psycho = high_school_psycho.copy()
gemini_high_school_psycho['gemini_output'] = None

In [120]:
gemini_high_school_psycho[gemini_high_school_psycho['gemini_output'].isnull()]

,input,target,gemini_output
540,A common criticism of labeling students as disabled is that individuals tend to perform in accordance with characteristics associated with a label. This performing phenomenon is known by which of the following names? \nThe self-fulfilling prophecy \nThe law of effect \nThe primacy effect \nSocial loafing,A,None
541,"Scott tried to unscramble the letters NEBOTYA for 20 minutes to spell a word, but was not successful. While walking to class, the answer suddenly came to him that the word was BAYONET. This exemplifies \nclassical conditioning \noperant conditioning \nthe law of effect \ninsight",D,None
542,What would a psychometrician conclude about a personality test that tells a person she is an extreme extrovert the first time she takes the test and an extreme introvert the next time she takes it? \nThis personality test has low reliability but high validity. \nThe test is probably high in construct validity but isn't very predictive. \nThese test norms and standardization probably need improvement. \nThe results indicate that the test has low test-retest reliability.,D,None
543,"In the Harlow study of emotional attachment, infant monkeys were placed in a cage and given both a ""wire"" mother and a ""cloth"" mother. Researchers then moved a bottle of milk from one mother to the other while introducing various stimuli to see if the monkeys would form an attachment to either of the ""mothers."" In this experiment, the independent variable is \nwith which ""mother"" the bottle of milk is placed \nthe ""wire"" mother versus the ""cloth"" mother \nthe preference of the infants for the source of milk \nthe preference of the infants for the ""wire"" mother",A,None
544,"To treat Zoe's anorexia nervosa, her doctors put her on intravenous feeding tubes, tried to change her irrational belief that she was too fat, and discussed how her early family relationships may have contributed to her current problems. This approach would best be classified as \ncognitive behavioral. \nbiological. \npsychodynamic. \neclectic.",D,None

In [122]:
gemini_high_school_psycho.to_csv('gemini_high_school_psycho.csv', index=False)

In [ ]:
gemini_line_generator(high_school_psycho, 540, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 541, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 542, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 543, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 544, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 535, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 526, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 527, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 528, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_psycho, 529, gemini_high_school_psycho, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

D

D

A

D

# high_school_statistics

## Get Dataset

In [123]:
high_school_statistics = MMLU_CSV_Processor_my('MMLU','high_school_statistics_test.csv').convert_df()

## GEMINI

In [124]:
gemini_high_school_statistics = high_school_statistics.copy()
gemini_high_school_statistics['gemini_output'] = None

In [204]:
gemini_high_school_statistics[gemini_high_school_statistics['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [203]:
gemini_high_school_statistics.to_csv('gemini_high_school_statistics.csv', index=False)

In [202]:
# gemini_line_generator(high_school_statistics, 200, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 201, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 202, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 203, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 204, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 205, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 206, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 207, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 208, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 209, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')

# gemini_line_generator(high_school_statistics, 210, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(high_school_statistics, 211, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_statistics, 212, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_statistics, 213, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_statistics, 214, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_statistics, 215, gemini_high_school_statistics, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

B

D

Influential point

# high_school_us_hist

## Get Dataset

In [205]:
high_school_us_hist = MMLU_CSV_Processor_my('MMLU','high_school_us_history_test.csv').convert_df()

## GEMINI

In [206]:
gemini_high_school_us_hist = high_school_us_hist.copy()
gemini_high_school_us_hist['gemini_output'] = None

In [262]:
gemini_high_school_us_hist[gemini_high_school_us_hist['gemini_output'].isnull()]

,input,target,gemini_output
200,"This question refers to the following information.\nClearly, no longer can a dictator count on East–West confrontation to stymie concerted United Nations action against aggression. A new partnership of nations has begun. And we stand today at a unique and extraordinary moment. The crisis in the Persian Gulf, as grave as it is, also offers a rare opportunity to move toward an historic period of cooperation. Out of these troubled times, our fifth objective—a new world order—can emerge; a new era, freer from the threat of terror, stronger in the pursuit of justice, and more secure in the quest for peace. An era in which the nations of the world, east and west, north and south, can prosper and live in harmony.\n—President George Herbert Walker Bush, Speech to a Joint Session of Congress, September 11, 1990\nPresident George Herbert Walker Bush's vision of a ""new world order"" was most directly made possible by \nAmerican economic prosperity. \nPresident Ronald Reagan's Strategic Defense...",D,None
201,"This question refers to the following information.\n""The challenge of the next half century is whether we have the wisdom to use wealth to enrich and elevate our national life, and to advance the quality of our American civilization….The Great Society rests on abundance and liberty for all. It demands an end to poverty and racial injustice, to which we are totally committed in our time. But that is just the beginning. The Great Society is a place where every child can find knowledge to enrich his mind and to enlarge his talents. It is a place where leisure is a welcome chance to build and reflect, not a feared cause of boredom and restlessness. It is a place where the city of man serves not only the needs of the body and the demands of commerce but the desire for beauty and the hunger for community. It is a place where man can renew contact with nature. It is a place which honors creation for its own sake and for what it adds to the understanding of the race. It is a place where me...",B,None
202,"This question refers to the following information.\nLet us not, I beseech you sir, deceive ourselves. Sir, we have done everything that could be done, to avert the storm which is now coming on. We have petitioned; we have remonstrated; we have supplicated; we have prostrated ourselves before the throne, and have implored its interposition to arrest the tyrannical hands of the ministry and Parliament. Our petitions have been slighted; our remonstrances have produced additional violence and insult; our supplications have been disregarded; and we have been spurned, with contempt, from the foot of the throne. In vain, after these things, may we indulge the fond hope of peace and reconciliation. There is no longer any room for hope.… It is in vain, sir, to extenuate the matter. Gentlemen may cry, Peace, Peace, but there is no peace. The war is actually begun! The next gale that sweeps from the north will bring to our ears the clash of resounding arms! Our brethren are already in the fie...",B,None
203,"This question refers to the following information.\nHere is the case of a woman employed in the manufacturing department of a Broadway house. It stands for a hundred like her own. She averages three dollars a week. Pay is $1.50 for her room; for breakfast she has a cup of coffee; lunch she cannot afford. One meal a day is her allowance. This woman is young, she is pretty. She has ""the world before her."" Is it anything less than a miracle if she is guilty of nothing less than the ""early and improvident marriage,"" against which moralists exclaim as one of the prolific causes of the distresses of the poor? Almost any door might seem to offer a welcome escape from such slavery as this. ""I feel so much healthier since I got three square meals a day,"" said a lodger in one of the Girls' Homes. Two young sewing-girls came in seeking domestic service, so that they might get enough to eat. They had been only half-fed for some time, and starvation had driven them to the one door at which the ...",C,None

In [ ]:
gemini_line_generator(high_school_us_hist, 200, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 201, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 202, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 203, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 204, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 205, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 206, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 207, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 208, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_us_hist, 209, gemini_high_school_us_hist, message='Treat each options as A, B, C, D, etc. and provide answers only')

D

C

B

C

In [264]:
gemini_high_school_us_hist.to_csv('gemini_high_school_us_hist.csv', index=False)

# high_school_world_hist

## Get Dataset

In [10]:
high_school_world_hist = MMLU_CSV_Processor_my('MMLU','high_school_world_history_test.csv').convert_df()

## GEMINI

In [266]:
gemini_high_school_world_history_test = high_school_world_hist.copy()
gemini_high_school_world_history_test['gemini_output'] = None

In [7]:
gemini_high_school_world_history_test = pd.read_csv('gemini_high_school_world_history_test.csv')

In [52]:
gemini_high_school_world_history_test[gemini_high_school_world_history_test['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(high_school_world_hist, 230, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 231, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 232, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 233, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 234, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 235, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 236, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 237, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 238, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(high_school_world_hist, 239, gemini_high_school_world_history_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

In [53]:
gemini_high_school_world_history_test.to_csv('gemini_high_school_world_history_test.csv', index=False)

# human_aging

## Get Dataset

In [12]:
human_aging = MMLU_CSV_Processor_my('MMLU','human_aging_test.csv').convert_df()

In [13]:
human_aging.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   223 non-null    object
 1   target  223 non-null    object
dtypes: object(2)
memory usage: 3.6+ KB

## GEMINI

In [56]:
gemini_human_aging = human_aging.copy()
gemini_human_aging['gemini_output'] = None

In [51]:
gemini_human_aging[gemini_human_aging['gemini_output'].isnull()]

,input,target,gemini_output
220,Longevity is strongly associated with higher levels of \nSocial support \nBMI \nAlcohol use \nSupplement use,A,NaN
221,The hypothesis that says adults will remain healthy until very old age and then quickly become ill and die is the ____ hypothesis \nTerminal drop \nCompression of morbidity \nKlagmore-Rensfeldt \nDecline avoidance,B,NaN
222,The woman who conducted a longitudinal study on herself and found increased retrieval difficulty as she got older was named \nClark \nSmith \nWhitebear \nEbbinghaus,B,NaN

In [8]:
gemini_human_aging = pd.read_csv('gemini_human_aging_not_done.csv')

In [52]:
gemini_line_generator(human_aging, 220, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_aging, 221, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_aging, 222, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(human_aging, 223, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(human_aging, 224, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(human_aging, 225, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(human_aging, 226, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(human_aging, 227, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(human_aging, 228, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(human_aging, 229, gemini_human_aging, message='Treat each options as A, B, C, D, etc. and provide answers only')

A

A

A

In [53]:
gemini_human_aging.to_csv('gemini_human_aging.csv', index=False)

# human_sexuality

## Get Dataset

In [54]:
human_sexuality = MMLU_CSV_Processor_my('MMLU','human_sexuality_test.csv').convert_df()

## GEMINI

In [55]:
gemini_human_sexuality = human_sexuality.copy()
gemini_human_sexuality['gemini_output'] = None

In [90]:
gemini_human_sexuality[gemini_human_sexuality['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [91]:
gemini_human_sexuality.to_csv('gemini_human_sexuality.csv', index=False)

In [ ]:
gemini_line_generator(human_sexuality, 120, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 121, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 122, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 123, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 124, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 125, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 126, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 127, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 128, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(human_sexuality, 129, gemini_human_sexuality, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

A

A

D

D

# intl_law

## Get Dataset

In [92]:
intl_law = MMLU_CSV_Processor_my('MMLU','international_law_test.csv').convert_df()

## GEMINI

In [93]:
gemini_intl_law = intl_law.copy()
gemini_intl_law['gemini_output'] = None

In [118]:
gemini_intl_law[gemini_intl_law['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [ ]:
gemini_line_generator(intl_law, 110, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 111, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 112, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 113, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 114, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 115, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 116, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 117, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 118, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(intl_law, 119, gemini_intl_law, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

A

A

D

C

B

D

A

C

C

A

In [119]:
gemini_intl_law.to_csv('gemini_intl_law.csv', index=False)

# jurisprudence

## Get Dataset

In [120]:
jurisprudence = MMLU_CSV_Processor_my('MMLU','jurisprudence_test.csv').convert_df()

## GEMINI

In [122]:
gemini_jurisprudence = jurisprudence.copy()
gemini_jurisprudence['gemini_output'] = None

In [150]:
gemini_jurisprudence[gemini_jurisprudence['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [151]:
gemini_jurisprudence.to_csv('gemini_jurisprudence.csv', index=False)

In [149]:
gemini_line_generator(jurisprudence, 100, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 101, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 102, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 103, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 104, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 105, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 107, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 106, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 96, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 97, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 98, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(jurisprudence, 99, gemini_jurisprudence, message='Treat each options as A, B, C, D, etc. and provide answers only')

B

D

C

B

C

C

C

B

C

B

Rousseau

B

# logical_fallacies_test

## Get Dataset

In [152]:
logical_fallacies = MMLU_CSV_Processor_my('MMLU','logical_fallacies_test.csv').convert_df()

## GEMINI

In [ ]:
# gemini_logical_fallacies = logical_fallacies.copy()
# gemini_logical_fallacies['gemini_output'] = None

In [215]:
gemini_logical_fallacies[gemini_logical_fallacies['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [216]:
gemini_logical_fallacies.to_csv('gemini_logical_fallacies.csv', index=False)

In [214]:
gemini_line_generator(logical_fallacies, 160, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(logical_fallacies, 161, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(logical_fallacies, 162, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(logical_fallacies, 153, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(logical_fallacies, 154, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(logical_fallacies, 155, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(logical_fallacies, 156, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(logical_fallacies, 157, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(logical_fallacies, 158, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(logical_fallacies, 159, gemini_logical_fallacies, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

A

C

C

B

C

D

# ML_test

## Get Dataset

In [218]:
ml_test = MMLU_CSV_Processor_my('MMLU', 'machine_learning_test.csv').convert_df()

## GEMINI

In [219]:
gemini_ml_test = ml_test.copy() 
gemini_ml_test['gemini_output'] = None

In [248]:
gemini_ml_test[gemini_ml_test['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [249]:
gemini_ml_test.to_csv('gemini_ml_test.csv', index=False)

In [ ]:
gemini_line_generator(ml_test, 100, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 101, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 102, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 103, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 104, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 105, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 106, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 107, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 108, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(ml_test, 109, gemini_ml_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

# mgmt_test

## Get Dataset

In [250]:
mgmt_test = MMLU_CSV_Processor_my('MMLU', 'management_test.csv').convert_df()

## GEMINI

In [251]:
gemini_mgmt_test = mgmt_test.copy()
gemini_mgmt_test['gemini_output'] = None

In [281]:
gemini_mgmt_test[gemini_mgmt_test['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [282]:
gemini_mgmt_test.to_csv('gemini_mgmt_test.csv', index=False)

In [280]:
# gemini_line_generator(mgmt_test, 100, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 101, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 102, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 93, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 94, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 95, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 76, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 77, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mgmt_test, 78, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(mgmt_test, 79, gemini_mgmt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

C

# mkt_test

## Get Dataset

In [9]:
mkt_test = MMLU_CSV_Processor_my('MMLU', 'marketing_test.csv').convert_df()

## GEMINI

In [284]:
gemini_mkt_test = mkt_test.copy()
gemini_mkt_test['gemini_output'] = None

In [46]:
gemini_mkt_test.to_csv('gemini_mkt_test.csv', index=False)

In [45]:
gemini_mkt_test[gemini_mkt_test['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [44]:
gemini_line_generator(mkt_test, 230, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(mkt_test, 231, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(mkt_test, 232, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(mkt_test, 233, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mkt_test, 224, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mkt_test, 225, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mkt_test, 226, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mkt_test, 227, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mkt_test, 228, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
# gemini_line_generator(mkt_test, 229, gemini_mkt_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

D

A

B

B

# medical_gen

## Get Dataset

In [7]:
medical_gen = MMLU_CSV_Processor_my('MMLU', 'medical_genetics_test.csv').convert_df()

## GEMINI

In [ ]:
gemini_medical_gen = medical_gen.copy()
gemini_medical_gen

In [29]:
gemini_medical_gen[gemini_medical_gen['gemini_output'].isnull()]

Empty DataFrame
Columns: [input, target, gemini_output]
Index: []

In [30]:
gemini_medical_gen.to_csv('gemini_medical_gen.csv', index=False)

In [28]:
gemini_line_generator(medical_gen, 90, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 91, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 92, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 93, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 94, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 95, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 96, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 97, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 98, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(medical_gen, 99, gemini_medical_gen, message='Treat each options as A, B, C, D, etc. and provide answers only')

B

B

B

A

B

Tay-Sachs disease

C

A

A

D

# miscellaneous_test

## Get Dataset

In [7]:
miscellaneous_test = MMLU_CSV_Processor_my('MMLU', 'miscellaneous_test.csv').convert_df()

## GEMINI

In [8]:
# gemini_miscellaneous_test = miscellaneous_test.copy()
# gemini_miscellaneous_test['gemini_output'] = None

gemini_miscellaneous_test = pd.read_csv('gemini_miscellaneous_test.csv')

In [19]:
gemini_miscellaneous_test.to_csv('gemini_miscellaneous_test.csv', index=False)

In [13]:
gemini_miscellaneous_test[gemini_miscellaneous_test['gemini_output'].isnull()]

,input,target,gemini_output
430,"If one party to a contract is forced to sign, the contract is defined as \nenforceable \nexecutory \nunilateral \nvoidable",D,NaN
431,What was the name of the first ship to sail around the world? \nTriton \nVictoria \nMagellan \nElizabeth II,B,NaN
432,Which of the following was a direct result of the First Opium War of 1839-1842? \nThe Chinese commissioner of trade in Canton (Guangzhou) banned the opium trade in that city. \nChina was forced to open some of its ports to international trade. \nChinese revolutionaries toppled the Qing dynasty. \nChinese leaders set out to remake their economy along Western lines.,B,NaN
433,What animal is considered sacred in India? \nSheep \nCow \nChicken \nDog,B,NaN
434,In computer terminology what does the acronym 'FTP' stand for? \nfile transfer protocol \nfull time portal \nfull text processor \nfree to print,A,NaN
...,...,...,...
778,Which of these animals is a rodent? \nBat \nWolverine \nBeaver \nKoala,C,NaN
779,Which two planets are most similar in size diameter wise? \nMars and Mercury \nVenus and Earth \nUranus and Neptune \nJupiter and Saturn,B,NaN
780,Which of these stores is not owned by Gap Inc? \nGap \nBanana Republic \nOld Navy \nJ Crew,D,NaN
781,What is the largest city in Pennsylvania? \nPhiladelphia \nStewartsville \nHarrisburg \nPittsburgh,A,NaN
782,A prekindergarten teacher uses a basket of red and yellow apples to reinforce concepts during a mathematics lesson. Which of the following tasks is best targeted at teaching students to compare quantities? \nHaving students count all the apples in the basket \nHaving students put one apple in the middle of the place mat on their desks \nHaving students make a Venn diagram for the color of the apples \nHaving students determine whether the numbers of red and yellow apples are equal,D,NaN

In [14]:
gemini_line_generator(miscellaneous_test, 430, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 431, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 432, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 433, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 434, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 435, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 436, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 437, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 438, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')
gemini_line_generator(miscellaneous_test, 439, gemini_miscellaneous_test, message='Treat each options as A, B, C, D, etc. and provide answers only')

D

B

B

B

A

A

D

B

A

B

In [ ]:
i dont think that  ≤Â≥˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜would be ab great idea tho