## Setup

In [1]:
import sys
sys.path.append('../../Modules/')
sys.path.append('../../Modules/Processors from Prof')
from Packages import *
from My_Json_processor import *

# Import processors from Prof
from ipynb.fs.full.Utilities import *
from ipynb.fs.full.Json_Processor import *
from ipynb.fs.full.CSV_Processor import *

## Get GEMINI API

In [11]:
import os
import google.generativeai as genai

os.environ["GEMINI_API_KEY"] = "AIzaSyAP8QMlHxlLhX518vKYJbd3bQuKZlb6pD0"
# os.environ["GEMINI_API_KEY"] = "AIzaSyDVq8938H31okoLdSAn7B_CzFYUwiTYF4g"

genai.configure(api_key=os.environ["GEMINI_API_KEY"])
# genai.configure(api_key=os.getenv(os.environ["GEMINI_API_KEY"]))

# genai.configure(api_key=os.getenv("GEMINI_API_KEY"))

## Function to generate GEMINI Answers

In [3]:
sample = Big_Bench_Json_Processor_my('Big Bench Hard', 'boolean_expressions.json').convert_df().head(10)

In [4]:
sample

                                     input target
0             not ( True ) and ( True ) is  False
1        True and not not ( not False ) is   True
2        not True or False or ( False ) is  False
3       False or not ( True ) and False is  False
4  True or not False and True and False is   True
5   False or not not not False and True is   True
6        not True and ( False or True ) is  False
7        True and not False or ( True ) is   True
8        not True or ( False and True ) is  False
9         not True or ( True or False ) is   True

In [ ]:
# OLD

model=genai.GenerativeModel(
  model_name="gemini-1.5-flash",
  system_instruction="You only answer True or False to the following questions.",)

sample['gemini_output'] = None

for i in range(len(sample)):
    response = model.generate_content(sample['input'][i])
    print(response.text)
    sample.loc[i, 'gemini_output'] = response.text.strip()

In [5]:
content = []

for i in range(len(sample)):
    content.append(sample['input'][i])

In [7]:
model = genai.GenerativeModel(
    model_name = "gemini-1.5-flash",
    system_instruction="You only answer True or False to the following questions.",
)


response = model.generate_content(content)
print(response.text)

False
True
True
False
True
False
True
True

In [4]:
"""
The function is to generate Gemini answers for the given data.

@params: data(initial dataframe), system_message(message for Gemini system)
@return: sample(dataframe with gemini_output column)
"""

def gemini_generator(data, system_message):

    import time
    total_requests = 0
    successful_requests = 0


    model=genai.GenerativeModel(
    model_name="gemini-1.5-flash",
    system_instruction=system_message,
    )

    sample = data.copy()
    sample['gemini_output'] = None

    for i in range(len(sample)):
        success = False
        retries = 3

        while not success and retries > 0:
            try:
                total_requests += 1

                # Make API request
                response = model.generate_content(sample['input'][i])
                # print(response.text)
                sample.loc[i, 'gemini_output'] = response.text.strip()
                success = True
                successful_requests += 1
                time.sleep(5)

            except Exception as e:
                # print(f"Error: {e}")
                retries -= 1
                time.sleep(5)
                total_requests += 1

    print(f"Total requests made: {total_requests}")
    print(f"Successful requests: {successful_requests}")

    return sample

In [5]:
"""
The function is to export the dataframe to a csv file.

@params: folder_name(name of the folder), df(dataframe)
@return: True if the dataframe is exported successfully, False otherwise
"""

def df_to_csv(folder_name, df, file_name):
    base_path = r'/Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points'
    if df['gemini_output'].isnull().sum() == 0:
        file_path = os.path.join(base_path, folder_name, f'{file_name}.csv')
        os.makedirs(os.path.dirname(file_path), exist_ok=True)
        df.to_csv(file_path, index=False)
        print(f"DataFrame exported successfully to {file_path}!")
    else:
        print("Export failed: DataFrame contains null values in 'gemini_output'.")
        return False

## My Testing - boolean_expressions.json

### Get Dataset

In [5]:
boolean_df = Big_Bench_Json_Processor_my('Big Bench Hard', 'boolean_expressions.json').convert_df()

In [6]:
len(boolean_df)

250

In [11]:
boolean_df.head(20)

                                        input target
0                not ( True ) and ( True ) is  False
1           True and not not ( not False ) is   True
2           not True or False or ( False ) is  False
3          False or not ( True ) and False is  False
4     True or not False and True and False is   True
5      False or not not not False and True is   True
6           not True and ( False or True ) is  False
7           True and not False or ( True ) is   True
8           not True or ( False and True ) is  False
9            not True or ( True or False ) is   True
10        False or ( False ) and not False is  False
11   not False or True and False and False is   True
12       not True or False or not not True is   True
13    True and True and False and not True is  False
14       not not True and not True or True is   True
15          not not not ( True and False ) is   True
16     not not False and not not not False is  False
17         ( True and not True and False ) is  False
18  False and False and False or not False is   True
19        False or ( False and not False ) is  False

### GEMINI applied

In [12]:
import time

total_requests = 0
successful_requests = 0


model=genai.GenerativeModel(
  model_name="gemini-1.5-flash",
  system_instruction="You only answer True or False to the following questions.",
  )

sample2 = boolean_df.copy()
sample2['gemini_output'] = None

for i in range(len(sample2)):
    success = False
    retries = 3

    while not success and retries > 0:
        try:
            total_requests += 1

            # Make API request
            response = model.generate_content(sample2['input'][i])
            # print(response.text)
            sample2.loc[i, 'gemini_output'] = response.text.strip()
            success = True
            successful_requests += 1
            time.sleep(5)

        except Exception as e:
            # print(f"Error: {e}")
            retries -= 1
            time.sleep(5)
            total_requests += 1 



print(f"Total requests made: {total_requests}")
print(f"Successful requests: {successful_requests}")

KeyboardInterrupt:

In [11]:
sample2['gemini_output'].isna().sum()

0

In [12]:
sample2.head()

                                     input target gemini_output
0             not ( True ) and ( True ) is  False         False
1        True and not not ( not False ) is   True          True
2        not True or False or ( False ) is  False          True
3       False or not ( True ) and False is  False         False
4  True or not False and True and False is   True         False

In [ ]:
# import time


model=genai.GenerativeModel(
  model_name="gemini-1.5-flash",
  system_instruction="You only answer True or False to the following questions.",
  )


total_requests = 0

successful_requests = 0
unsuccesful_requests = 0

sample3 = boolean_df.copy()
sample3['gemini_output'] = None

while sample3['gemini_output'].isna().sum() > 0:
    for i in range(len(sample2)):
        if sample3['gemini_output'][i] == None:
            try:
                response = model.generate_content(sample2['input'][i])
                # print(response.text)
                sample3.loc[i, 'gemini_output'] = response.text.strip()
                successful_requests += 1
                time.sleep(5)

            except Exception as e:
                # print(f"Error: {e}")
                unsuccesful_requests += 1
                time.sleep(5)

            total_requests += 1
        else:
            continue

print(f"Successful requests: {successful_requests}")
print(f"Unsuccessful requests: {unsuccesful_requests}")

In [9]:
gemini_boolean_df = sample2.copy()

In [10]:
gemini_boolean_df.head(5)

                                     input target gemini_output
0             not ( True ) and ( True ) is  False         False
1        True and not not ( not False ) is   True          True
2        not True or False or ( False ) is  False          True
3       False or not ( True ) and False is  False         False
4  True or not False and True and False is   True         False

In [14]:
df_to_csv("Big Bench Hard", gemini_boolean_df, file_name = "gemini_boolean_df")

DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_boolean_df.csv!

## My Testing - causal_judgement.json

### Get Dataset

In [15]:
causal_judgement = Big_Bench_Json_Processor_my('Big Bench Hard', 'causal_judgement.json').convert_df()

In [18]:
causal_judgement.head(5)

,input,target
0,"How would a typical person answer each of the following questions about causation?\nA machine is set up in such a way that it will short circuit if both the black wire and the red wire touch the battery at the same time. The machine will not short circuit if just one of these wires touches the battery. The black wire is designated as the one that is supposed to touch the battery, while the red wire is supposed to remain in some other part of the machine. One day, the black wire and the red wire both end up touching the battery at the same time. There is a short circuit. Did the black wire cause the short circuit?\nOptions:\n- Yes\n- No",No
1,"How would a typical person answer each of the following questions about causation?\nLong ago, when John was only 17 years old, he got a job working for a large manufacturing company. He started out working on an assembly line for minimum wage, but after a few years at the company, he was given a choice between two line manager positions. He could stay in the woodwork division, which is where he was currently working. Or he could move to the plastics division. John was unsure what to do because he liked working in the woodwork division, but he also thought it might be worth trying something different. He finally decided to switch to the plastics division and try something new. For the last 30 years, John has worked as a production line supervisor in the plastics division. After the first year there, the plastics division was moved to a different building with more space. Unfortunately, through the many years he worked there, John was exposed to asbestos, a highly carcinogenic substa...",No
2,"How would a typical person answer each of the following questions about causation?\nLong ago, when John was only 17 years old, he got a job working for a large manufacturing company. He started out working on an assembly line for minimum wage, but after a few years at the company, he was given a choice between two line manager positions. He could stay in the woodwork division, which is where he was currently working. Or he could move to the plastics division. John was unsure what to do because he liked working in the woodwork division, but he also thought it might be worth trying something different. He finally decided to switch to the plastics division and try something new. For the last 30 years, John has worked as a production line supervisor in the plastics division. After the first year there, the plastics division was moved to a different building with more space. Unfortunately, through the many years he worked there, John was exposed to asbestos, a highly carcinogenic substa...",Yes
3,"How would a typical person answer each of the following questions about causation?\nMr. Wallace is highly influential in the organized crime scene. Although he commands the respect of many, there are also a number of people who stand to benefit from his death. Today, he was having lunch with one of his associates, Mr. Vincent. At one point during their meeting, Mr. Wallace left the table to go to the toilet. While he was gone, Mr. Vincent managed to slip a lethal dose of poison into his martini. The poison is known to take one hour (give or take 10 minutes, depending on the victim's body weight) to kill and would go unnoticed for the first half hour after consumption. When Mr. Wallace returned to the table, he finished his lunch and then drank the rest of his martini. The two men concluded their meeting a few minutes later. Mr. Wallace paid the bill and they both left the restaurant going in different directions. Mr. Wallace had another important business meeting about 15 minutes a...",No
4,"How would a typical person answer each of the following questions about causation?\nClaire's parents bought her an old computer. Claire uses it for schoolwork, but her brother Daniel sometimes logs on to play games. Claire has told Daniel, ""Please don't log on to my computer. If we are both logged on at the same time, it will crash"". One day, Claire and Daniel logged on to the computer at the same time. The computer crashed. Later that day, Claire's mother is talking with the computer repairman. The repairman says, ""I see that Daniel was logged on, but this computer will only crash if two people are logged on at the same time. So, I still don't see quite why the computer crashed."" Did Daniel cause the computer crash?\nOptions:\n- Yes\n- No",Yes

### GEMINI Applied

In [16]:
# import time

total_requests = 0
successful_requests = 0


model=genai.GenerativeModel(
  model_name="gemini-1.5-flash",
  system_instruction="You only answer Yes or No to the following questions.",
  )

sample = causal_judgement.copy()
sample['gemini_output'] = None

for i in range(len(sample)):
    success = False
    retries = 3

    while not success and retries > 0:
        try:
            total_requests += 1

            # Make API request
            response = model.generate_content(sample['input'][i])
            # print(response.text)
            sample.loc[i, 'gemini_output'] = response.text.strip()
            success = True
            successful_requests += 1
            time.sleep(5)

        except Exception as e:
            # print(f"Error: {e}")
            retries -= 1
            time.sleep(5)
            total_requests += 1 



print(f"Total requests made: {total_requests}")
print(f"Successful requests: {successful_requests}")

Total requests made: 187
Successful requests: 187

In [17]:
gemini_causal_judgement = sample.copy()
# gemini_causal_judgement.head(5)

In [18]:
df_to_csv("Big Bench Hard", gemini_causal_judgement, file_name = "gemini_causal_judgement")

DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_causal_judgement.csv!

## My Testing - disambiguation_qa.json

### Get Dataset

In [19]:
disambiguation_qa = Big_Bench_Json_Processor_my('Big Bench Hard', 'disambiguation_qa.json').convert_df()
disambiguation_qa.head(5)

,input,target
0,"In the following sentences, explain the antecedent of the pronoun (which thing the pronoun refers to), or state that it is ambiguous.\nSentence: The patient was referred to the specialist because he had a rare skin condition.\nOptions:\n(A) The patient had a skin condition\n(B) The specialist had a skin condition\n(C) Ambiguous",(A)
1,"In the following sentences, explain the antecedent of the pronoun (which thing the pronoun refers to), or state that it is ambiguous.\nSentence: The scientist collaborated with the artist, and he shared a story.\nOptions:\n(A) The scientist shared a story\n(B) The artist shared a story\n(C) Ambiguous",(C)
2,"In the following sentences, explain the antecedent of the pronoun (which thing the pronoun refers to), or state that it is ambiguous.\nSentence: The developer was unable to communicate with the writer because she used big words.\nOptions:\n(A) The developer uses big words\n(B) The writer uses big words\n(C) Ambiguous",(C)
3,"In the following sentences, explain the antecedent of the pronoun (which thing the pronoun refers to), or state that it is ambiguous.\nSentence: The scientist will collaborate with the artist, and he will share a story.\nOptions:\n(A) The scientist will share a story\n(B) The artist will share a story\n(C) Ambiguous",(C)
4,"In the following sentences, explain the antecedent of the pronoun (which thing the pronoun refers to), or state that it is ambiguous.\nSentence: Bailey planned to meet the director at their office\nOptions:\n(A) The office was the director's office\n(B) The office was Bailey's office\n(C) Ambiguous",(C)

### GEMINI Applied

In [20]:
# import time

total_requests = 0
successful_requests = 0


model=genai.GenerativeModel(
  model_name="gemini-1.5-flash",
  system_instruction="You only answer (A, (B), (C) or (D) to the following questions.",
  )

disambiguation_sample = disambiguation_qa.copy()
disambiguation_sample['gemini_output'] = None

for i in range(len(disambiguation_sample)):
    success = False
    retries = 3

    while not success and retries > 0:
        try:
            total_requests += 1

            # Make API request
            response = model.generate_content(disambiguation_sample['input'][i])
            # print(response.text)
            disambiguation_sample.loc[i, 'gemini_output'] = response.text.strip()
            success = True
            successful_requests += 1
            time.sleep(5)

        except Exception as e:
            # print(f"Error: {e}")
            retries -= 1
            time.sleep(5)
            total_requests += 1 



print(f"Total requests made: {total_requests}")
print(f"Successful requests: {successful_requests}")

Total requests made: 250
Successful requests: 250

In [21]:
gemini_disambiguation = disambiguation_sample.copy()
df_to_csv("Big Bench Hard", gemini_disambiguation, file_name = "gemini_disambiguation")

DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_disambiguation.csv!

## My Testing - dyck_languages

### Get Dataset

In [6]:
dyck_languages = Big_Bench_Json_Processor_my('Big Bench Hard', 'dyck_languages.json').convert_df()
dyck_languages.head(5)

,input,target
0,"Complete the rest of the sequence, making sure that the parentheses are closed properly. Input: [ [",] ]
1,"Complete the rest of the sequence, making sure that the parentheses are closed properly. Input: < [ [",] ] >
2,"Complete the rest of the sequence, making sure that the parentheses are closed properly. Input: { < { { [ ] } } { < [ { { < > } } [ ( ) ( ) ] [ [ [ [ ( { < ( < ( [ ] ) > ) > } ) ] ] ] ] ] ( ) ( [ ] { } ) > } > [ { ( ( ) ) } ]",}
3,"Complete the rest of the sequence, making sure that the parentheses are closed properly. Input: < [ ] { < ( ) > } [ ] ( { }",) >
4,"Complete the rest of the sequence, making sure that the parentheses are closed properly. Input: < ( ( ( < > ) ) ( { { } [ { } ] [ ] < ( ) > } ) )",>

### GEMINI Applied

In [8]:
gemini_dyck_languages = gemini_generator(dyck_languages, "You only answer set of [],{}, or () to the following questions.")

Total requests made: 250
Successful requests: 250

In [9]:
df_to_csv("Big Bench Hard", gemini_dyck_languages, file_name = "gemini_dyck_languages")

DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_dyck_languages.csv!

## My Testing - formal_fallacies

### Get Dataset

In [10]:
formal_fallacies = Big_Bench_Json_Processor_my('Big Bench Hard', 'formal_fallacies.json').convert_df()
formal_fallacies.head(5)

,input,target
0,"""Here comes a perfectly valid argument: First of all, whoever is a schoolmate of Sondra is not a stepsister of Pricilla. In consequence, whoever is not a stepsister of Pricilla is a schoolmate of Sondra.""\nIs the argument, given the explicitly stated premises, deductively valid or invalid?\nOptions:\n- valid \n- invalid",invalid
1,"""Here comes a perfectly valid argument: First, being a cousin of Chris is sufficient for not being a son of Kermit. We may conclude that whoever is not a son of Kermit is a cousin of Chris.""\nIs the argument, given the explicitly stated premises, deductively valid or invalid?\nOptions:\n- valid \n- invalid",invalid
2,"""It is not always easy to see which chemicals are contained in our consumer products. The following argument pertains to this question: First, vitamin A is an ingredient of LIQUID EYELINER. Second, every ingredient of BC Eye Cream 15 ml is not an ingredient of Mango Lip Butter or not an ingredient of LIQUID EYELINER. Therefore, it is not the case that Vitamin A is an ingredient of BC Eye Cream 15 ml.""\nIs the argument, given the explicitly stated premises, deductively valid or invalid?\nOptions:\n- valid \n- invalid",invalid
3,"""Some football fans admire various clubs, others love only a single team. But who is a fan of whom precisely? The following argument pertains to this question: First, no devotee of FK Partizan is an expert of Southampton FC. Second, no critic of FC Spartak Moskva is an expert of Southampton FC. Third, to be a critic of FC Spartak Moskva or a devotee of FK Partizan is necessary for being an admirer of Qarabağ FK. Hence, no admirer of Qarabağ FK is an expert of Southampton FC.""\nIs the argument, given the explicitly stated premises, deductively valid or invalid?\nOptions:\n- valid \n- invalid",valid
4,"""Some football fans admire various clubs, others love only a single team. But who is a fan of whom precisely? The following argument pertains to this question: First premise: Being an expert of Aberdeen FC is sufficient for not being a follower of Club Atlético de Madrid. Second premise: Every expert of Aberdeen FC is not a fan of AZ Alkmaar or not a follower of Club Atlético de Madrid. Therefore, whoever is an expert of Aberdeen FC is not a fan of AZ Alkmaar.""\nIs the argument, given the explicitly stated premises, deductively valid or invalid?\nOptions:\n- valid \n- invalid",invalid

### GEMINI Applied

In [11]:
gemini_formal_fallacies = gemini_generator(formal_fallacies, "You only answer invalid or valid to the following questions.")

Total requests made: 252
Successful requests: 250

In [12]:
df_to_csv("Big Bench Hard", gemini_dyck_languages, file_name = "gemini_formal_fallacies")

DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_formal_fallacies.csv!

## My Testing - geometric_shapes

### Get Dataset

In [13]:
geometric_shapes = Big_Bench_Json_Processor_my('Big Bench Hard', 'geometric_shapes.json').convert_df()
geometric_shapes.head(5)

,input,target
0,"This SVG path element <path d=""M 55.57,80.69 L 57.38,65.80 M 57.38,65.80 L 48.90,57.46 M 48.90,57.46 L 45.58,47.78 M 45.58,47.78 L 53.25,36.07 L 66.29,48.90 L 78.69,61.09 L 55.57,80.69""/> draws a\nOptions:\n(A) circle\n(B) heptagon\n(C) hexagon\n(D) kite\n(E) line\n(F) octagon\n(G) pentagon\n(H) rectangle\n(I) sector\n(J) triangle",(B)
1,"This SVG path element <path d=""M 30.17,45.97 L 58.79,40.36 L 18.10,15.70 M 18.10,15.70 L 30.17,45.97""/> draws a\nOptions:\n(A) circle\n(B) heptagon\n(C) hexagon\n(D) kite\n(E) line\n(F) octagon\n(G) pentagon\n(H) rectangle\n(I) sector\n(J) triangle",(J)
2,"This SVG path element <path d=""M 21.10,97.94 L 22.14,97.44 L 10.48,73.34 L 9.43,73.84 L 21.10,97.94""/> draws a\nOptions:\n(A) circle\n(B) heptagon\n(C) hexagon\n(D) kite\n(E) line\n(F) octagon\n(G) pentagon\n(H) rectangle\n(I) sector\n(J) triangle\n(K) trapezoid",(K)
3,"This SVG path element <path d=""M 12.64,60.32 L 16.36,27.35""/> draws a\nOptions:\n(A) circle\n(B) heptagon\n(C) hexagon\n(D) kite\n(E) line\n(F) octagon\n(G) pentagon\n(H) rectangle\n(I) sector\n(J) triangle",(E)
4,"This SVG path element <path d=""M 90.54,84.19 L 72.03,34.41 L 33.90,48.59 M 33.90,48.59 L 52.41,98.37 M 52.41,98.37 L 90.54,84.19""/> draws a\nOptions:\n(A) circle\n(B) heptagon\n(C) hexagon\n(D) kite\n(E) line\n(F) octagon\n(G) pentagon\n(H) rectangle\n(I) sector\n(J) triangle\n(K) trapezoid",(K)

In [32]:
geometric_shapes['target'] .unique()

array(['(B)', '(J)', '(K)', '(E)', '(C)', '(G)', '(I)', '(F)', '(D)'],
      dtype=object)

In [35]:
geometric_shapes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   250 non-null    object
 1   target  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

### GEMINI Applied

In [14]:
gemini_geomnetric_shapes = gemini_generator(geometric_shapes, "You only answer A, B, C, D, E, F, J, G, H, K to the following questions.")

Total requests made: 258
Successful requests: 250

In [15]:
df_to_csv("Big Bench Hard", gemini_geomnetric_shapes, file_name = "gemini_geomnetric_shapes")

DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_geomnetric_shapes.csv!

## My Testing - hyperbaton

### Get Dataset

In [16]:
hyperbaton = Big_Bench_Json_Processor_my('Big Bench Hard', 'hyperbaton.json').convert_df()
hyperbaton.info()
hyperbaton.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   250 non-null    object
 1   target  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

,input,target
0,Which sentence has the correct adjective order:\nOptions:\n(A) midsize old grey Brazilian sweater\n(B) midsize grey Brazilian old sweater,(A)
1,Which sentence has the correct adjective order:\nOptions:\n(A) rubber gray walking Mexican midsize cat\n(B) midsize gray Mexican rubber walking cat,(B)
2,Which sentence has the correct adjective order:\nOptions:\n(A) mysterious big Indian iron smoking motorcycle\n(B) big smoking mysterious Indian iron motorcycle,(A)
3,Which sentence has the correct adjective order:\nOptions:\n(A) cloth smoking rectangular motorcycle\n(B) rectangular cloth smoking motorcycle,(B)
4,Which sentence has the correct adjective order:\nOptions:\n(A) pyramidal American glass exercise surfboard\n(B) glass exercise American pyramidal surfboard,(A)

In [17]:
hyperbaton['target'].unique()

array(['(A)', '(B)'], dtype=object)

### GEMINI Applied

In [18]:
gemini_hyperbaton = gemini_generator(hyperbaton, "You only answer A or B to the following questions.")
df_to_csv("Big Bench Hard", gemini_hyperbaton, file_name = "gemini_hyperbaton")

Total requests made: 250
Successful requests: 250
DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_hyperbaton.csv!

## My Testing - logical_deduction_five_objects

### Get Dataset

In [19]:
logical_deduction_five = Big_Bench_Json_Processor_my('Big Bench Hard', 'logical_deduction_five_objects.json').convert_df()

In [21]:
logical_deduction_five.head()

,input,target
0,"The following paragraphs each describe a set of five objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a branch, there are five birds: a quail, an owl, a raven, a falcon, and a robin. The owl is the leftmost. The robin is to the left of the raven. The quail is the rightmost. The raven is the third from the left.\nOptions:\n(A) The quail is the rightmost\n(B) The owl is the rightmost\n(C) The raven is the rightmost\n(D) The falcon is the rightmost\n(E) The robin is the rightmost",(A)
1,"The following paragraphs each describe a set of five objects arranged in a fixed order. The statements are logically consistent within each paragraph. In an antique car show, there are five vehicles: a hatchback, a bus, a convertible, a tractor, and a minivan. The tractor is older than the bus. The minivan is newer than the bus. The hatchback is the second-newest. The minivan is older than the convertible.\nOptions:\n(A) The hatchback is the second-oldest\n(B) The bus is the second-oldest\n(C) The convertible is the second-oldest\n(D) The tractor is the second-oldest\n(E) The minivan is the second-oldest",(B)
2,"The following paragraphs each describe a set of five objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a shelf, there are five books: a yellow book, a green book, a gray book, a blue book, and an orange book. The gray book is to the left of the green book. The gray book is the second from the right. The yellow book is to the right of the orange book. The blue book is the second from the left.\nOptions:\n(A) The yellow book is the leftmost\n(B) The green book is the leftmost\n(C) The gray book is the leftmost\n(D) The blue book is the leftmost\n(E) The orange book is the leftmost",(E)
3,"The following paragraphs each describe a set of five objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a branch, there are five birds: a raven, an owl, a cardinal, a hummingbird, and a robin. The cardinal is the rightmost. The raven is to the left of the owl. The robin is to the right of the hummingbird. The hummingbird is the third from the left.\nOptions:\n(A) The raven is the second from the left\n(B) The owl is the second from the left\n(C) The cardinal is the second from the left\n(D) The hummingbird is the second from the left\n(E) The robin is the second from the left",(B)
4,"The following paragraphs each describe a set of five objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a shelf, there are five books: a green book, an orange book, a gray book, a yellow book, and a purple book. The green book is the rightmost. The gray book is to the right of the orange book. The purple book is to the left of the yellow book. The purple book is to the right of the gray book.\nOptions:\n(A) The green book is the second from the right\n(B) The orange book is the second from the right\n(C) The gray book is the second from the right\n(D) The yellow book is the second from the right\n(E) The purple book is the second from the right",(D)

In [20]:
logical_deduction_five['target'].unique()

array(['(A)', '(B)', '(E)', '(D)', '(C)'], dtype=object)

### GEMINI Applied

In [22]:
gemini_logical_deduction_five = gemini_generator(logical_deduction_five, "You only answer A, B, C, D, E to the following questions.")
df_to_csv("Big Bench Hard", gemini_logical_deduction_five, file_name = "gemini_logical_deduction_five")

Total requests made: 250
Successful requests: 250
DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_logical_deduction_five.csv!

## My Testing - logical_deduction_seven

### Get Dataset

In [6]:
logical_deduction_seven = Big_Bench_Json_Processor_my('Big Bench Hard', 'logical_deduction_seven_objects.json').convert_df()

In [7]:
logical_deduction_seven.head()
logical_deduction_seven['target'].unique()

array(['(D)', '(B)', '(A)', '(F)', '(E)', '(C)', '(G)'], dtype=object)

In [8]:
logical_deduction_seven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   250 non-null    object
 1   target  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

### GEMINI Applied

In [9]:
gemini_logical_deduction_seven = gemini_generator(logical_deduction_seven, "You only answer A, B, C, D, E to the following questions.")
df_to_csv("Big Bench Hard", gemini_logical_deduction_seven, file_name = "gemini_logical_deduction_seven")

Total requests made: 252
Successful requests: 250
DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_logical_deduction_seven.csv!

## My Testing - logical_deduction_three

### Get Dataset

In [7]:
logical_deduction_three = Big_Bench_Json_Processor_my('Big Bench Hard', 'logical_deduction_three_objects.json').convert_df()
logical_deduction_three.head()

,input,target
0,"The following paragraphs each describe a set of three objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a branch, there are three birds: a blue jay, a quail, and a falcon. The falcon is to the right of the blue jay. The blue jay is to the right of the quail.\nOptions:\n(A) The blue jay is the second from the left\n(B) The quail is the second from the left\n(C) The falcon is the second from the left",(A)
1,"The following paragraphs each describe a set of three objects arranged in a fixed order. The statements are logically consistent within each paragraph. In an antique car show, there are three vehicles: a motorcyle, a limousine, and a convertible. The motorcyle is newer than the limousine. The convertible is newer than the motorcyle.\nOptions:\n(A) The motorcyle is the oldest\n(B) The limousine is the oldest\n(C) The convertible is the oldest",(B)
2,"The following paragraphs each describe a set of three objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a shelf, there are three books: a blue book, an orange book, and a red book. The blue book is the rightmost. The orange book is the leftmost.\nOptions:\n(A) The blue book is the second from the left\n(B) The orange book is the second from the left\n(C) The red book is the second from the left",(C)
3,"The following paragraphs each describe a set of three objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a branch, there are three birds: a robin, a blue jay, and a crow. The robin is to the right of the crow. The robin is to the left of the blue jay.\nOptions:\n(A) The robin is the rightmost\n(B) The blue jay is the rightmost\n(C) The crow is the rightmost",(B)
4,"The following paragraphs each describe a set of three objects arranged in a fixed order. The statements are logically consistent within each paragraph. On a shelf, there are three books: a green book, a red book, and a blue book. The red book is the rightmost. The blue book is to the right of the green book.\nOptions:\n(A) The green book is the rightmost\n(B) The red book is the rightmost\n(C) The blue book is the rightmost",(B)

In [8]:
logical_deduction_three.info()
print(logical_deduction_three['target'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   250 non-null    object
 1   target  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB
['(A)' '(B)' '(C)']

### GEMINI Applied

In [ ]:
gemini_logical_deduction_three = gemini_generator(logical_deduction_three, "You only answer A, B, C  to the following questions.")

df_to_csv("Big Bench Hard", gemini_logical_deduction_three, file_name = "gemini_logi cal_deduction_three")

Total requests made: 252
Successful requests: 250
DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_logical_deduction_three.csv!

## My Testing - movie_recommendation

### Get Dataset

In [10]:
movie_recommendation = Big_Bench_Json_Processor_my('Big Bench Hard', 'movie_recommendation.json').convert_df()

movie_recommendation.head()

,input,target
0,"Find a movie similar to Batman, The Mask, The Fugitive, Pretty Woman:\nOptions:\n(A) The Front Page\n(B) Maelstrom\n(C) The Lion King\n(D) Lamerica",(C)
1,"Find a movie similar to The Sixth Sense, The Matrix, Forrest Gump, The Shawshank Redemption:\nOptions:\n(A) Street Fighter II The Animated Movie\n(B) The Sheltering Sky\n(C) The Boy Who Could Fly\n(D) Terminator 2 Judgment Day",(D)
2,"Find a movie similar to Schindler's List, Braveheart, The Silence of the Lambs, Tombstone:\nOptions:\n(A) Orlando\n(B) Guilty of Romance\n(C) Forrest Gump\n(D) All the Real Girls",(C)
3,"Find a movie similar to Terminator 2 Judgment Day, The Fugitive, The Shawshank Redemption, Dead Man Walking:\nOptions:\n(A) Walk\n(B) Don't Run\n(C) Shaun the Sheep Movie\n(D) Rocky IV\n(E) Braveheart",(E)
4,"Find a movie similar to Braveheart, The Mask, The Fugitive, Batman:\nOptions:\n(A) Club Dread\n(B) George Washington\n(C) Schindler's List\n(D) Once Upon a Time in America",(C)

In [11]:
movie_recommendation['target'].unique()

array(['(C)', '(D)', '(E)', '(B)', '(A)', 'Monsters, Inc'], dtype=object)

In [12]:
movie_recommendation[movie_recommendation['target']=='Monsters, Inc']

,input,target
163,"Find a movie similar to Minority Report, Shrek, Catch Me If You Can, Aladdin:\nOptions:\n(A) Monsters\n(B) Inc\n(C) Children of the Night\n(D) The Incredible Shrinking Man\n(E) Town & Country","Monsters, Inc"

### GEMINI Applied

In [13]:
gemini_movie_recommendation = gemini_generator(movie_recommendation, "Your answers to the following question should be in the provided options.")

df_to_csv("Big Bench Hard", gemini_movie_recommendation, file_name = "gemini_movie_recommendation")

Total requests made: 250
Successful requests: 250
DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_movie_recommendation.csv!

## My Testing - multistep_arithmetic_two

### Get Dataset

In [14]:
multistep_arithmetic_two = Big_Bench_Json_Processor_my('Big Bench Hard', 'multistep_arithmetic_two.json').convert_df()
multistep_arithmetic_two.head()

                                         input  target
0   ((-1 + 2 + 9 * 5) - (-2 + -4 + -4 * -7)) =      24
1  ((-9 * -5 - 6 + -2) - (-8 - -6 * -3 * 1)) =      63
2   ((3 * -3 * 6 + -5) - (-2 + -7 - 7 - -7)) =     -50
3    ((6 * -6 * 8 * 1) * (-1 * 7 * -6 + -2)) =  -11520
4    ((-6 - -4 + 9 + 0) + (1 + -4 - -9 * 6)) =      58

In [15]:
multistep_arithmetic_two['target'].unique()

array(['24', '63', '-50', '-11520', '58', '-33', '49', '-80', '702', '20',
       '54', '-8840', '42', '26', '-1960', '1608', '31', '2', '-92', '5',
       '-1', '-35', '-22', '-5', '-3400', '71', '-3', '25', '416', '40',
       '-19', '44', '72', '-170', '-20', '-9', '65', '70', '976', '2240',
       '57', '150', '37', '84', '-76', '-1343', '-37', '59', '36',
       '38556', '89', '-48', '211', '83', '-51', '60', '77', '4', '-46',
       '15', '365', '-99', '88', '-55', '48', '38', '41', '-320', '-144',
       '-26', '30', '-10', '443', '14', '33', '-217', '-262', '-1300',
       '-15', '16', '-39960', '76', '-8304', '-17', '-13', '94', '-21',
       '-3850', '-8', '-3136', '12', '34', '140', '-168', '-6', '-57',
       '8', '-330', '1980', '78', '11', '-264', '0', '-83', '-391', '10',
       '45', '-196', '35', '3420', '-90', '-81', '-89', '343', '-24',
       '-39', '-60', '-284', '-4', '360', '32', '220', '18', '-18', '3',
       '-84', '-71', '-343', '-5453', '101', '-43', '-61', '-25', '21',
       '27', '-224', '-151', '-110', '198', '-32', '-554', '-11', '-240',
       '2652', '312', '522', '-52', '237', '-340', '107', '1168', '181',
       '-23', '7056', '-7', '52', '330', '17', '-2146', '-113', '-658',
       '-192', '123', '-169', '630', '120', '128', '3255', '346', '-38',
       '-30', '-160', '474', '-36', '-97', '867', '-147', '11050', '55',
       '-114', '336', '216', '250992', '464', '-1968'], dtype=object)

In [16]:
multistep_arithmetic_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   250 non-null    object
 1   target  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

### GEMINI Applied

In [17]:
gemini_multistep_arithmetic_two = gemini_generator(multistep_arithmetic_two, "Your answers should only be numbers to the following questions.")

df_to_csv("Big Bench Hard", gemini_multistep_arithmetic_two, file_name = "gemini_multistep_arithmetic_two")

Total requests made: 250
Successful requests: 250
DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_multistep_arithmetic_two.csv!

## My Testing - navigate

### Get Dataset

In [18]:
navigate = Big_Bench_Json_Processor_my('Big Bench Hard', 'navigate.json').convert_df()
navigate.info()
navigate.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   250 non-null    object
 1   target  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

,input,target
0,"If you follow these instructions, do you return to the starting point? Always face forward. Take 1 step backward. Take 9 steps left. Take 2 steps backward. Take 6 steps forward. Take 4 steps forward. Take 4 steps backward. Take 3 steps right.\nOptions:\n- Yes\n- No",No
1,"If you follow these instructions, do you return to the starting point? Always face forward. Take 10 steps left. Take 10 steps forward. Take 7 steps forward. Take 2 steps forward.\nOptions:\n- Yes\n- No",No
2,"If you follow these instructions, do you return to the starting point? Take 1 step. Take 10 steps. Take 4 steps. Take 1 step. Take 10 steps. Turn right. Turn around.\nOptions:\n- Yes\n- No",No
3,"If you follow these instructions, do you return to the starting point? Always face forward. Take 1 step right. Take 3 steps left. Take 2 steps right.\nOptions:\n- Yes\n- No",Yes
4,"If you follow these instructions, do you return to the starting point? Always face forward. Take 10 steps backward. Take 7 steps backward. Take 8 steps right. Take 6 steps right. Take 3 steps left.\nOptions:\n- Yes\n- No",No

In [19]:
navigate['target'].unique()

array(['No', 'Yes'], dtype=object)

### GEMINI Applied

In [20]:
gemini_navigate = gemini_generator(navigate, "You only answer Yes of No to the following questions.")

df_to_csv("Big Bench Hard", gemini_navigate, file_name = "gemini_navigate")

Total requests made: 250
Successful requests: 250
DataFrame exported successfully to /Users/ezishr/Library/CloudStorage/OneDrive-UniversityofCincinnati/Undergraduate Research/Check points/Big Bench Hard/gemini_navigate.csv!

## My testing - object_counting

### Get Dataset

In [6]:
object_counting = Big_Bench_Json_Processor_my('Big Bench Hard', 'object_counting.json').convert_df()
object_counting.info()
object_counting['target'].unique()
object_counting.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   250 non-null    object
 1   target  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

,input,target
0,"I have a flute, a piano, a trombone, four stoves, a violin, an accordion, a clarinet, a drum, two lamps, and a trumpet. How many musical instruments do I have?",8
1,"I have an apple, three bananas, a strawberry, a peach, three oranges, a plum, a raspberry, two grapes, a nectarine, and a blackberry. How many fruits do I have?",15
2,"I have a fridge, a chair, and a microwave. How many objects do I have?",3
3,"I have three blackberries, two strawberries, an apple, three oranges, a nectarine, a grape, a peach, a banana, and a plum. How many fruits do I have?",14
4,"I have a couch, an oven, two microwaves, and a fridge. How many objects do I have?",5

### GEMINI Applied

In [7]:
gemini_object_counting = gemini_generator(object_counting, "You only answer the number of objects to the following questions.")

df_to_csv("Big Bench Hard", gemini_object_counting, file_name = "gemini_object_counting")

Total requests made: 1476
Successful requests: 8
Export failed: DataFrame contains null values in 'gemini_output'.

False

## My Testing - penguins_in_a_table

### Get Dataset

In [8]:
penguins_in_a_table = Big_Bench_Json_Processor_my('Big Bench Hard', 'penguins_in_a_table.json').convert_df()

In [10]:
penguins_in_a_table.info()
print(penguins_in_a_table['target'].unique())
penguins_in_a_table.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   146 non-null    object
 1   target  146 non-null    object
dtypes: object(2)
memory usage: 2.4+ KB
['(E)' '(C)' '(A)' '(D)' '(B)']

,input,target
0,"Here is a table where the first line is a header and each subsequent line is a penguin: name, age, height (cm), weight (kg) Louis, 7, 50, 11 Bernard, 5, 80, 13 Vincent, 9, 60, 11 Gwen, 8, 70, 15 For example: the age of Louis is 7, the weight of Gwen is 15 kg, the height of Bernard is 80 cm. We now add a penguin to the table:\nJames, 12, 90, 12\nAnd here is a similar table, but listing giraffes:\nname, age, height (cm), weight (kg)\nJody, 5, 430, 620\nGladys, 10, 420, 590\nMarian, 2, 310, 410\nDonna, 9, 440, 650\nWhich is the oldest penguin?\nOptions:\n(A) Louis\n(B) Bernard\n(C) Vincent\n(D) Gwen\n(E) James",(E)
1,"Here is a table where the first line is a header and each subsequent line is a penguin: name, age, height (cm), weight (kg) Louis, 7, 50, 11 Bernard, 5, 80, 13 Vincent, 9, 60, 11 Gwen, 8, 70, 15 For example: the age of Louis is 7, the weight of Gwen is 15 kg, the height of Bernard is 80 cm. What is the name of the last penguin sorted by alphabetic order?\nOptions:\n(A) Louis\n(B) Bernard\n(C) Vincent\n(D) Gwen\n(E) James",(C)
2,"Here is a table where the first line is a header and each subsequent line is a penguin: name, age, height (cm), weight (kg) Louis, 7, 50, 11 Bernard, 5, 80, 13 Vincent, 9, 60, 11 Gwen, 8, 70, 15 For example: the age of Louis is 7, the weight of Gwen is 15 kg, the height of Bernard is 80 cm. How many penguins are more than 5 years old?\nOptions:\n(A) 1\n(B) 2\n(C) 3\n(D) 4\n(E) 5",(C)
3,"Here is a table where the first line is a header and each subsequent line is a penguin: name, age, height (cm), weight (kg) Louis, 7, 50, 11 Bernard, 5, 80, 13 Vincent, 9, 60, 11 Gwen, 8, 70, 15 For example: the age of Louis is 7, the weight of Gwen is 15 kg, the height of Bernard is 80 cm. And here is a similar table, but listing giraffes:\nname, age, height (cm), weight (kg)\nJody, 5, 430, 620\nGladys, 10, 420, 590\nMarian, 2, 310, 410\nDonna, 9, 440, 650\nHow many animals are more than 5 years old?\nOptions:\n(A) 5\n(B) 6\n(C) 7\n(D) 8\n(E) 9",(A)
4,"Here is a table where the first line is a header and each subsequent line is a penguin: name, age, height (cm), weight (kg) Louis, 7, 50, 11 Bernard, 5, 80, 13 Vincent, 9, 60, 11 Gwen, 8, 70, 15 For example: the age of Louis is 7, the weight of Gwen is 15 kg, the height of Bernard is 80 cm. Which penguin is older than Gwen?\nOptions:\n(A) Louis\n(B) Bernard\n(C) Vincent\n(D) Gwen\n(E) James",(C)

### GEMINI Applied

In [12]:
gemini_penguins_in_a_table = gemini_generator(penguins_in_a_table, "You only answer the number of penguins to the following questions.")

df_to_csv("Big Bench Hard", gemini_penguins_in_a_table, file_name = "gemini_penguins_in_a_table")

Total requests made: 876
Successful requests: 0
Export failed: DataFrame contains null values in 'gemini_output'.

False

## Professor Testing

In [ ]:
contents = os.listdir('../../Big Bench Hard/data')

In [ ]:
sample_lst = [file for file in os.listdir('../../Big Bench Hard/data') if file.endswith("json")]

In [ ]:
os.listdir('../../Big Bench Hard/data')

In [ ]:
output_file_path = 'output.json'